<h2>Übersicht Klassenarbeiten</h2>
<% if @tests %>
  <h3>Fuer Gruppe <%= @tests.first.course.group.name %> eingetragene Tests</h3>
  <ul>
  	<% @tests.each do |test| %>
  		<li>
        <%= test.description %> fuer <%= test.course.name %>
              <%#= Question.where(:category_id => course.tests.first.category_id).count %><br />
      </li>
  	<% end %>
  </ul>
  <hr />
  <% if @tests_student %>
    <h3>Von <%= current_user.email %> durchgefuehrte Tests</h3>
    <ul>
      <% @tests_student.each do |test_student| %>
      <li>
        Durchgefuehrt am <%= test_student.start %> mit <%= punkte = ((test_student.points * 100) / test_student.count_questions).round %> Prozent und der Note <%= POINTS_TO_NOTE[punkte] %> abgeschlossen.
        (<%= link_to "Ergebnis als PDF", edit_test_student_path(test_student.id, format: "pdf") %>)
      </li>
      <% end %>
    </ul>
  <% end #if @tests_student %>
  <hr />
  <% if @bemerkung %>
    <h3>Bemerkung</h3>
    <p><%= @bemerkung %></p>
    <hr />
  <% end %>
  <% unless current_user.state == 'finished' %>
    <h3>Klassenarbeit: <%= @cur_test.description %> </h3>
    <h4>Anmerkungen Durchführung der Klassenarbeit</h4>
    <ul>
        <li>Zum Starten des Tests klicken Sie auf den Button Test starten.</li>
        <li>Die Zeit wird Ihnen angezeigt.</li>
        <li>Wenn Sie das Browserfenster schließen, oder einen zweiten Login vornehmen wird der Test abgebrochen.</li>
        <li>Fuer den Test stehen Ihnen nach der Bestätigung durch einen Klick auf Test starten - Button <%= @cur_test.duration %> Minuten zur Verfuegung. Die Restzeit wird Ihnen nach jeder Frage angezeigt.</li>
    </ul>
    <%= button_to "Test starten", test_students_path %>
  <% end %>
<% end #if @tests %> 
