<h2>Fragen zur Kategorie: <%= @question.category.name %></h2>
  <%= will_paginate @questions, previous_label: h("<"), next_label: h(">") unless @questions.empty? %>

  <%= link_to new_category_question_path(@question.category.id) %>
<fieldset>
<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :text %>
    <%= f.label :status %>
    <%= f.check_box :status %>
  </div>

  <%= f.fields_for :answers do |builder| %>
    <%= render 'answer_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Answer", f, :answers %>
  

    <%= f.hidden_field :category_id %>
    <%= hidden_field_tag("page", @cur_page) %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</fieldset>