<h1>Test: <%= @results[0].test.description %></h1>
<p><%= link_to("Ergebnis als PDF", student_path(@results[0].test_id, format: "pdf")) %></p>
<table>
  <tr>
    <th>User</th>
    <th width="150px">Richtige Antworten</th>
    <th>Prozent</th>
    <th>Note</th>
    <th></th>
    <th></th>
  </tr>

<% @results.each do |result| %>
  <tr>
    <td><%= result.student.user.email %></td>
    <td align="center">
      <div id="change-<%= result.id %>">
        <%= link_to image_tag('plus.png'), edit_student_path(result), remote: true %>&nbsp;&nbsp;
        <%= result.points %> von <%= result.count_questions %>
      </div>
    </td>
    <td align="center">
      <div id="punkte-<%= result.id %>">
        <%= punkte = ((result.points * 100) / result.count_questions).round %> 
      </div>
    </td>
    <td align="center">
      <div id="note-<%= result.id %>">
        <%= POINTS_TO_NOTE[punkte] %></td>
      </div>
    <td> </td>
    <td><%= link_to 'Reset', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
