
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <%end%>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br/>
    <%= f.text_field :email %>
  </div>

  <div class="field">
      <%= f.label 'Klasse' %><br />
      <%= select_tag :group_id, options_for_select(Group.where('id > 1').map { |group| [group.name, group.id] }),:prompt => "Klasse zuordnen" %>
  </div>
  <div class="field">
    <%= f.label :password %><br/>
    <%= f.password_field :password %>
  </div>
<div class="field">
  <%= f.label :password_confirmation %><br/>
  <%= f.password_field :password_confirmation %>
</div>
<div class="actions"><%=f.submit"SignUp"%></div>
<%end%>