<%= form_for(@answer_student) do |f| %>
  <% if @answer_student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer_student.errors.count, "error") %> prohibited this question_student from being saved:</h2>

      <ul>
      <% @answer_student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :answer_id %><br />
    <%= f.number_field :answer_id %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br />
    <%= f.number_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :test_id %><br />
    <%= f.number_field :test_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
